<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Imię</th>
      <th scope="col" *ngFor="let competition of competition$ | async;">{{competition.name}}</th>
      <th scope="col">Suma</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let participant of participant$ | async; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{participant.name}}</td>
      <td *ngFor="let competition of competition$ | async;">
        <span *ngFor="let points of points$ | async;">
          <span *ngIf="points.key_participant == participant.key && points.key_competition == competition.key">
              {{points.points}}
          </span>
        </span>
        <button (click)="setPoints(participant.key, competition.key)"></button></td>
      <td></td>
    </tr>
  </tbody>
</table>

<form [formGroup]="participantForm" (ngSubmit)="createParticipant()">
  <input type="text" id="name" formControlName="name" placeholder="Imię">
  <div *ngIf="participantForm.get('name').invalid && participantForm.get('name').dirty">Pole wymagane</div>
  <button type="submit" [disabled]="participantForm.invalid">Dodaj</button>
</form>
