<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Imię</th>
      <th scope="col" *ngFor="let competition of competition$ | async;">{{competition.name}}</th>
      <th scope="col">Suma</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let participant of participant$ | async; let i = index">
      <td scope="row">{{i+1}}</td>
      <td>{{participant.name}}</td>
      <td *ngFor="let competition of competition$ | async; let j = index">
        <ng-container *ngIf="participant.points !== undefined">
          <span class="points" *ngIf="participant.points[competition.name] !== undefined" (click)="setPKeyCName(participant.key, competition.name)">{{participant.points[competition.name].points}}</span>
          <span class="points" *ngIf="participant.points[competition.name] === undefined" (click)="setPKeyCName(participant.key, competition.name)"></span>
        </ng-container>
        <ng-container *ngIf="participant.points === undefined">
            <span class="points" (click)="setPKeyCName(participant.key, competition.name)"></span>
        </ng-container>
      </td>
      <td>{{total[i]}}</td>
    </tr>
  </tbody>
</table>

<form [formGroup]="participantForm" (ngSubmit)="createParticipant()">
  <input type="text" id="name" formControlName="name" placeholder="Imię">
  <div *ngIf="participantForm.get('name').invalid && participantForm.get('name').dirty">Pole wymagane</div>
  <button type="submit" [disabled]="participantForm.invalid">Dodaj</button>
</form>

<form [formGroup]="competitionForm" (ngSubmit)="createCompetition()">
  <input type="text" id="name" formControlName="name" placeholder="Konkurencja">
  <div *ngIf="competitionForm.get('name').invalid && competitionForm.get('name').dirty">Pole wymagane</div>
  <button type="submit" [disabled]="competitionForm.invalid">Dodaj</button>
</form>

<ng-container *ngIf="showSetPointsForm">
  <div>
    <p>Set Points</p>
    <form [formGroup]="setPointsForm" (ngSubmit)="setPoints()">
      <input type="text" id="s_points" formControlName="s_points" placeholder="Punkty">
      <button type="submit">Dodaj</button>
    </form>
  </div>
</ng-container>
