table { width: 100%; }

th.mat-sort-header-sorted { color: black; }

th, td { text-align: center; }

th#th-id { width: 50px; text-align: left; }
th#th-name { width: 150px; text-align: left; }
th#th-suma { width: 50px; }

td.td-id,
td.td-name { text-align: left; }
td.points:hover { background: #ff8787; cursor: pointer; }

.table-striped tbody tr:nth-of-type(odd) { background-color: rgba(0, 0, 0, 0.02); }

input {
  width: 100%;
}

.mat-form-field { width: calc(100% - 100px); }

form { display: flex; align-items: center; justify-content: space-between; }
