table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

td {
  padding: 0;
}

span:hover {
  cursor: pointer;
}

span.add_points {
  display: inline-block;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 49px;
}

span.add_points:hover {
  border: 1px solid #d1d1d1;
}

span.points {
  color: #cc0000;
  font-weight: bold;
}


input {
  border: none;
  outline: none;
}

.active {
  height: 50px;
  width: 500px;
  background: #d1d1d1;
}
